button,
div,
form,
input {
  margin: 10px;
}

body{
    background-image: url(../images/background.png);
}

/* ratings */
p{
    color: white;
    font-size: 16px;
}

h1{
    margin-left: 20px;
    color: white;
    font-size: 40px;
}

/* animal buttons */
.animal-btn{
    background-color: blue;
    color: white;
    font-size: 25px;
   
    height: 45px;
}

/* add animal button */
#add-animal{
    background-color: blue;
    color: white;
    font-size: 25px;
    height: 45px;
    width: 75px;
}

#animal-input{
    font-size: 20px;
}

#label{
    color: white;
    font-size: 20px;
}

/* gifs */
.image{
    margin: 5px;
    float: left;
    height: 150px;
    width:150px;
}

